<!doctype html>
<html ng-app="portal">
<head>
	<script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular.min.js" ></script>
	<script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-resource.min.js" ></script>
	<script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-cookies.min.js" ></script>
	<script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-route.min.js" ></script>
	<script type="text/javascript" src="/javascripts/portal.js"></script>
	<script type="text/javascript" src="/javascripts/controllers.js"></script>
	<script type="text/javascript" src="/javascripts/services.js"></script>
	<script src="/javascripts/cufon-yui.js" type="text/javascript"></script>
	<script src="/javascripts/Trebuchet_MS_400.font.js" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('.date .day');
</script>
	<link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div ng-view></div>
</body>
</html>