<div class="wrapper">
	<div class="header">
		<div class="left">
			<div class="logo" onclick="location.href=''">
				<div class="project"></div>
				<div class="thirteen"></div>
			</div>
		</div>
		<div class="menu">
			<ul>
				<li class="menuitem" ng-click="meetings()" ng-bind="langPackage.userMeetings"></li>
				<li class="menuitem" ng-click="calander()" ng-bind="langPackage.userCalander"></li>
				<li class="menuitem" ng-click="guilds()" ng-bind="langPackage.userGuilds"></li>
			</ul>
		</div>
		<div class="right">
			<div class="account" ng-click="myprofile()">
				<span class="active" ng-bind="user.nickName" style="float:left;"></span>
				<div class="avatar" style="background-image:url(images/avatars/katarina.jpg)"></div>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="content">
			
			<form name="addguild" class="addguild">
				<div class="addguildGroup">
					<p>Добавь свою гильдию.</p>
					<p class="error"></p>
					<input type="text" name="gname" placeholder="Название гильдии" tabindex="1" ng-model="guild.name"/><br/>
					<input type="text" name="gdesc" placeholder="Описание гильдии" tabindex="1" ng-model="guild.descr"/><br/>
					<input type="submit" class="addguildEnd" value="Добавить" tabindex="8" ng-click="guildadd()"/>
				</div>
			</form>	
			
		</div>
	</div>
</div>