<div class="wrapper">
	<div class="header">
		<div class="left">
			<div class="logo" onclick="location.href=''">
				<div class="project"></div>
				<div class="thirteen"></div>
			</div>
		</div>
		<div class="menu">
			<ul>
				<li class="menuitem" ng-click="meeting()" ng-bind="langPackage.userMeetings"></li>
				<li class="menuitem" ng-click="calendar()" ng-bind="langPackage.userCalander"></li>
				<li class="menuitem" ng-class="'active'" ng-click="guilds()" ng-bind="langPackage.userGuilds"></li>
			</ul>
		</div>
		<div class="right">
			<div class="account" ng-click="user()">
				<div class="avatar" style="background-image:url(images/avatars/katarina.jpg)"></div>
				Katarina
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="content">
			
			<div class="guildlist">
					<div class="guilditem" onclick="location.href='guild_summoners_rift.html'">
						<div class="guild-logo" style="background-image:url(images/logos/summoners_rift_100.jpg)"></div>
						<div class="guild-name">
							<p class="name">Summoner's Rift</p>
							<p class="desc">The oldest and most venerated Field of Justice in Valaron.</p>
						</div>
					</div>
					<div class="guilditem" onclick="location.href='guild_emperium.html'">
						<div class="guild-logo" style="background-image:url(images/logos/emperium_100.jpg)"></div>
						<div class="guild-name">
							<p class="name">Emperium</p>
							<p class="desc">Клуб интеллектуальных настольных и ролевых игр.</p>
						</div>
					</div>
					<div class="guilditemAdd" onclick="location.href='add_guild.html'">
						add
					</div>
			</div>
			
		</div>
	</div>
</div>