<div class="wrapper">
	<div class="header">
		<div class="left">
			<div class="logo" onclick="location.href=''">
				<div class="project"></div>
				<div class="thirteen"></div>
			</div>
		</div>
		<div class="menu">
			<ul>
				<li class="menuitem" ng-click="meetings()" ng-bind="langPackage.userMeetings"></li>
				<li class="menuitem" ng-click="calander()" ng-bind="langPackage.userCalander"></li>
				<li class="menuitem" ng-click="guilds()" ng-bind="langPackage.userGuilds"></li>
			</ul>
		</div>
		<div class="right">
			<div class="account" ng-click="myprofile()">
				<span class="active" ng-bind="user.nickName" style="float:left;"></span>
				<div class="avatar" style="background-image:url(images/avatars/katarina.jpg)"></div>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="content">
			
			<div class="guild">
				<div class="guildheader">
					<div class="logo" style="background-image:url(images/headers/emperium.png)"></div>
					<div class="namebar"><p class="name" ng-bind="data.guild.groupName"><p><p class="status">Cкоро официальное открытие первого сезона</p></div>
				</div>
				<div class="guildcontent">
					<div class="description" ng-bind="data.guild.description"></div>
					
					<div class="leftblock">
						<div class="addmeet" ng-click="addmeeting()">Добавить встречу</div>
					</div>
					<div class="meetings">
						<div class="meetingitem">
							<div ng-repeat="meeting in data.meetingList">
								<div class="post">
									<div class="date"><p class="day" ng-bind="meeting.day"></p><p class="month">сен</p></div>
									<div class="type"></div>
									<div class="accept" ng-click="status(meeting.id,2)"></div>
									<div class="wait" ng-click="status(meeting.id,1)"></div>
									<div class="cansel" ng-click="status(meeting.id,0)"></div>
									<br/>
									<div class="name" ng-click="meetingDetails(meeting.id)"><h3 ng-bind="meeting.name"></h3></div>
									<div class="group"><div class="groupname">Время:</div><span ng-bind="meeting.time"></span></div>
									<div class="group"><div class="groupname">Описание:</div><span ng-bind="meeting.description"></span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="rightblock">
						<div class="members">
							<div class="item" onclick="location.href='user_profile.html'">
								<div class="memberAvatar" style="background-image:url(images/avatars/katarina.jpg)"></div>
								<div class="memberNickname">Katarina</div>
							</div>
							<div class="item" onclick="location.href='user_profile_garen.html'">
								<div class="memberAvatar" style="background-image:url(images/avatars/garen.jpg)"></div>
								<div class="memberNickname">Garen</div>
							</div>
							<div class="item" onclick="location.href='user_profile_ashe.html'">
								<div class="memberAvatar" style="background-image:url(images/avatars/ashe.jpg)"></div>
								<div class="memberNickname">Ashe</div>
							</div>
							<div class="item" onclick="location.href='user_profile_master_yi.html'">
								<div class="memberAvatar" style="background-image:url(images/avatars/master_yi.jpg)"></div>
								<div class="memberNickname">Master Yi</div>
							</div>
							<div class="item" onclick="location.href='user_profile_lux.html'">
								<div class="memberAvatar" style="background-image:url(images/avatars/lux.jpg)"></div>
								<div class="memberNickname">Lux</div>
							</div>
							<div style="clear:both"></div>
						</div>
						<div class="adduser" onclick="location.href='add_meeting.html'">Добавить пользователя</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>