<div class="wrapper">
	<div class="header">
		<div class="left">
			<div class="logo" onclick="location.href=''">
				<div class="project"></div>
				<div class="thirteen"></div>
			</div>
		</div>
		<div class="menu">
			<ul>
				<li class="menuitem" ng-click="meeting()" ng-bind="langPackage.userMeetings"></li>
				<li class="menuitem" ng-click="calendar()" ng-bind="langPackage.userCalander"></li>
				<li class="menuitem" ng-class="'active'" ng-click="guilds()" ng-bind="langPackage.userGuilds"></li>
			</ul>
		</div>
		<div class="right">
			<div class="account" ng-click="user()">
				<span class="active" ng-bind="user.nickName" style="float:left;"></span>
				<div class="avatar" style="background-image:url(images/avatars/katarina.jpg)"></div>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="content">
			
			<div class="guildlist">
					<div ng-repeat="guild in data.guilds">
						<div class="guilditem" ng-click="view(guild.id)">
							<div class="guild-logo" style="background-image:url(images/logos/emperium_100.jpg)"></div>
							<div class="guild-name">
								<p class="name" ng-bind="guild.groupName"></p>
								<p class="desc" ng-bind="guild.description"></p>
							</div>
						</div>
					</div>
					<div class="guilditemAdd" ng-click="addingGuild()" ng-bind="langPackage.addNewGuild">
					</div>
			</div>
			
		</div>
	</div>
</div>