<div class="middle">
	<div class="content">
		<h2 ng-bind=langPackage.pageName></h2>
		<form name="formReg" class="registration">
			<div class="registrationGroup">
				<label ng-bind="langPackage.userEmail"></label>
				<input type="email" name="email" ng-model="user.email" required/>
				<span class="error" ng-show="formReg.$error.email" ng-bind="langPackage.fieldError"></span>
			</div>
			<div class="registrationGroup">
				<label ng-bind="langPackage.userPassword"></label>
				<input type="password" name="password" ng-model="user.password" required ng-minlength="3" ng-maxlength="10"/>
				<span class="error" ng-show="formReg.password.$error.minlength || formReg.password.$error.maxlength" ng-bind="langPackage.fieldError"></span>
				<label ng-bind="langPackage.userPasswordCheck"></label>
				<input type="password" name="passwordcheck" ng-model="user.checkPassword" required ng-minlength="3" ng-maxlength="10"/>
				<span class="error" ng-show="formReg.passwordcheck.$error.minlength || formReg.passwordcheck.$error.maxlength" ng-bind="langPackage.fieldError"></span>
				<span class="error" ng-show="user.password != user.checkPassword" ng-bind="langPackage.passwordValidation"></span>
			</div>
			<div class="registrationGroup">
				<label ng-bind="langPackage.userFirstName"></label>
				<input type="text" name="firstname" ng-model="user.firstName" required ng-pattern="patters.userFirstName" ng-minlength="3"/>
				<span class="error" ng-show="formReg.firstname.$error.pattern || formReg.firstname.$error.minlength" ng-bind="langPackage.fieldError"></span>
				<label ng-bind="langPackage.userLastName"></label>
				<input type="text" name="lastname" ng-model="user.lastName" required ng-pattern="patters.userFirstName" ng-minlength="3"/>
				<span class="error" ng-show="formReg.lastname.$error.pattern || formReg.lastname.$error.minlength" ng-bind="langPackage.fieldError"></span>
			</div>
			<div class="registrationGroup">
				<label ng-bind="langPackage.userBirth"></label>
				<input type="number" class="year" name="birthyaer" placeholder="ГГГГ" maxlength="4" ng-model="user.YYYY" required min="1900" max="2020"/>
				<input type="number" class="month" name="birthmonth" placeholder="ММ" maxlength="2" ng-model="user.MM" required min="1" max="12"/>
				<input type="number" class="day" name="birthday" placeholder="ДД" maxlength="2" ng-model="user.DD" required min="1" max="31"/>
				<span class="error" ng-show="formReg.birthyaer.$error.min || formReg.birthyaer.$error.max || formReg.birthmonth.$error.min || formReg.birthmonth.$error.max ||formReg.birthday.$error.min || formReg.birthday.$error.max" ng-bind="langPackage.fieldError"></span>
				<label ng-bind="langPackage.userGender"></label>
				<select name="gender" ng-model="user.gender">
					<option value=""></option>
					<option value="M" ng-bind="langPackage.userM"></option>
					<option value="F" ng-bind="langPackage.userF"></option>
				</select>
			</div>
			<div class="registrationGroup">
				<label ng-bind="langPackage.userNick"></label>
				<input type="text" name="nickname" ng-model="user.nickName" required ng-minlength="3"/>
				<span class="error" ng-show="formReg.nickname.$error.min" ng-bind="langPackage.fieldError"></span>
			</div>
			<div class="registrationGroup">
				<input type="submit" ng-click="submit()"/>
			</div>
		</form>
	</div>
	<div class="content right">
		<form name="formReg" class="singIn">
			<div class="singInGroup">
				<label ng-bind="langPackage.userEmail"></label>
				<input type="email" name="email" ng-model="signInfo.email" required/>
				<span class="error" ng-show="formReg.$error.email" ng-bind="langPackage.fieldError"></span>
			</div>
			<div class="singInGroup">
				<label ng-bind="langPackage.userPassword"></label>
				<input type="password" name="password" ng-model="signInfo.password" required/>
				<span class="error" ng-show="formReg.$error.email" ng-bind="langPackage.fieldError"></span>
			</div>
			<div class="singInGroup">
				<input type="submit" ng-click="signIn()"/>
			</div>
		</form>
	</div>
</div>