<html>
<head>
<title>Kaelnaar</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="wrapper">
	<div class="header">
		<div class="menu">
			123
		</div>
	</div>
	<div class="middle">
		<div class="content">
			<div class="profile">
				<h2 class="userNickname">Kaelnaar</h2>
				<div class="userAvatar" style="background-image:url(images/avatars/kaelnaar.jpg);"></div>
				<div class="userInfo">
					<ul class="userInfoGroup">
							<li><p class="item">Настоящее имя:</p><p class="data" id="name">L.Antigreen</p><br/></li>
							<li><p class="item">Местоположение:</p><p class="data" id="location">Украина, Чернигов</p><br/></li>
							<li><p class="item">Возраст:</p><p class="data" id="age">23 года</p><br/></li>
							<li><p class="item">Пол:</p><p class="data" id="gender">Мужской</p><br/></li>
					</ul>
					<ul class="userInfoGroup">
							<li><p class="item">Интересы:</p><p class="data" id="interests"><span id="tag">ролевые игры</span>, <span id="tag">настольные игры</span>, <span id="tag">музыка</span>, <span id="tag">компьютерные игры</span>.</p><br/></li>
							<li><p class="item">О себе:</p><p class="data" id="biography">
								Интернет для меня третий перелом в истории человеческой культуры – после появления языка и изобретения книги1. В Древней Греции оратора, выступавшего на площади в Афинах, слышали не более двадцати тысяч человек. Это был звуковой предел общения: география языка – это племя. Потом пришла книга, которая расширила круг общения до географии страны. И вот появилась головокружительная, беспрецедентная2 возможность мгновенного донесения слова до бесчисленного множества людей. Очередная смена пространств: география Интернета – земной шар. И это очередная революция, а революция всегда быстро ломает, только строит она медленно. Со временем возникнет новая иерархия человечества, новая гуманная цивилизация4. А пока… пока в Интернете доминирует «оборотная сторона»5 этого грандиозного открытия-прорыва – его разрушительная сила6. Неслучайно7 Всемирная сеть становится орудием в руках террористов, хакеров и фанатиков всех мастей.
							</p><br/></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-latest.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery-site.js"></script>
</body>
</html>