body {
	margin: 0px;
	padding: 0px;
	font-family: tahoma;
	font-size: 10pt;
	background-color:#CCCCC5;
	color:#4C4C48;
}

label {
	display:block;
	font-size:10px;
	font-weight:400;
	margin-bottom:5px;
	margin-left:3px;
	text-transform:uppercase;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select {
	background:#FFFFFF;
	border:0px none currentColor;
	border-radius:2px;
	box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.196);
	display:inline-block;
	font-size:13px;
	height:30px;
	margin-bottom:8px;
	padding:0px 8px;
	text-align:left;
	width:186px;
	-webkit-appearance:none;
}

input[type="submit"] {
	background:#8F8F8F;
	box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.102);
	color:#FFFFFF;
	border:2px solid #8F8F8F;
	border-radius:2px;
	cursor:pointer;
	display:inline-block;
	font-size:11px;
	font-weight:700;
	height:30px;
	line-height:26px;
	padding:0px 10px;
	text-align:left;
	vertical-align:middle;
}

input.year {
	width:96px !important;
}

input.month, input.day {
	width:60px !important;
} 

.wrapper {
	position:relative;
	width:100%;
	min-width:800px;
	min-height:200px;
}

.header {
	position:relative;
	height:50px;
	background-color:#4C4C48;
	color:#CCCCC5;
	line-height:47px;
	margin-bottom:10px;
}

.header .menu {
	position:relative;
	left:50%;
	top:0;
	width:800px;
	height:50px;
	margin-left:-400px;
}

.middle {
	position:relative;
}

.middle  .content{
	position:relative;
	left:50%;
	top:0;
	width:800px;
	margin-left:-400px;
}

select {
	width:204px;
}

.registrationGroup {
	margin-bottom:20px;
}

/* 	#AA5560 - фон ошибки
	#AD2A3A - текст ошибки
	#A0A467 - фон всё ок
	#8C8E59 - текст всё ок
 */
.registrationGroup .ng-invalid {
	background-color:#AA5560;
}

.registrationGroup .ng-pristine {
	background-color:#FFFFFF;
}

.registrationGroup span {
	margin-left:10px;
	vertical-align:top;
	line-height:30px;"
}
 
.registrationGroup span.error {
	color:#AD2A3A;
}

.registrationGroup span.ok {
	color:#8C8E59;
}






.profile {
	position:relative;
}

.profile .userNickname {
	margin-left:10px;
}

.profile .userAvatar {
	float:left;
	width:200px;
	height:350px;
	/* максимально 200х350 */
	background:#FFFFFF;
	box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.102);
	border-radius:3px;
}

.profile .userInfo {
	float:left;
	margin:5px 0 0 20px;
	padding:0;
}

.profile .userInfoGroup {
	margin:0 0 20px 0;
	padding:0;
	list-style-type:none;
	width:580px;
}

.profile .userInfoGroup li {
	margin:0 0 2px 0;
}

.profile .userInfoGroup p {
	margin:0;
	float:left;
}

.profile .userInfoGroup p.item {
	width:120px;
	margin-right:10px;
	color:#7F7F79;
	text-align:right;
}

.profile .userInfoGroup p.data {
	width:450px;
	position:relative;
}

.profile .userInfoGroup br {
	clear:both;
}